<html>

<head>
    <link rel="stylesheet" href="/css/bootstrap.min.css?ver=1">
</head>

<body>
<form action = "/send" method="post" enctype="multipart/form-data">
    <input type = "file" name = "ef" accept=".xls,.xlsx">
    <br>
    <input type = "text" name = "sender" placeholder="발신자 메일을 입력해 주세요">
    <br>
    <input type = "text" name = "name" placeholder="발신자명을 입력해 주세요">
    <br>
    <input type = "text" name = "title" placeholder="메일 제목을 입력해 주세요">
    <br>
    <textarea name = "html"></textarea>
    <br>
    <input type = "submit" value = "전송">
</form>
<form action = "/" method="get">
    <input type="submit" value = "메인페이지로">
</form>
<form action = "/result" method="get">
    <input type="submit" value = "메일 결과 페이지로">
</form>
</body>
</html>