<html>

<head></head>

<body>
<h1>mail.narangmarketing.com</h1>
<!--<h4>일반 로그인</h4>-->
<form action = "/result" method="get">
    <input type="submit" value = "메일 결과 페이지로">
</form>
<form action="/send" method="get">
    <input type = "submit" value = "메일 발송 페이지로">
</form>
</body>

</html>