<html>

    <head>
        <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    </head>

<body>
<h1>
    SUCCESS
</h1>
<form action = "/" method="get">
    <input type="submit" value = "메인페이지로">
</form>
<form action = "/result" method="get">
    <input type="submit" value = "메일 결과 페이지로">
</form>
<form action="/send" method="get">
    <input type = "submit" value = "메일 발송 페이지로">
</form>
</body>

</html>